<form class="pure-form pure-form-aligned">
  <fieldset>
    <legend>Cadastrar Novo Médico</legend>
      <div class="pure-control-group ">
          <label for="CRM">Crm</label>
          <input type="text" id="CRM" placeholder="123456789/SP" />
      </div>
      <div class="pure-control-group">
          <label for="nome">Nome</label>
          <input type="text" id="aligned-password" placeholder="Nome" />
      </div>
      <div>
        <button type="button" class="pure-button pure-button-primary input">Enviar</button>
        <button type="button" class="pure-button pure-button-primary input">Limpar</button>
        <button type="button" routerLink="/medico" class="pure-button pure-button-primary input">Voltar</button>
      </div>
  </fieldset>
</form>
<app-footer></app-footer>


