<main>
  <form class="pure-form pure-form-aligned">
    <fieldset>
      <legend>Cadastrar Novo Médico</legend>
        <div class="pure-control-group ">
            <input type="text" id="CRM" name="Crm" [(ngModel)]="this.Medico.CRM" placeholder="Crm" />
        </div>
        <div class="pure-control-group">
            <input type="text" id="Nome" name="Nome" [(ngModel)]="this.Medico.Nome" placeholder="Nome" />
        </div>
        <div>
          <button type="button" class="pure-button pure-button-primary input" (click)="enviar()">Enviar</button>
          <button type="reset" class="pure-button input">Limpar</button>
          <button type="button" routerLink="/medico" class="pure-button input">Voltar</button>
        </div>
    </fieldset>
  </form>
</main>
<app-footer></app-footer>


